.studentPageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blueviolet;
  color: white;
  padding: 0 20px;
}

.navbarTitle {
  font-size: 24px;
  font-weight: bold;
}

.navbarUser {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  gap: 20px;
}

.mainContent {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  width: 250px;
  background-color: #333;
  padding: 20px;
  color: white;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 15px;
  cursor: pointer;
}

.sidebar li.active {
  background-color: #555;
}

.content {
  flex-grow: 1;
  padding: 40px;
  background-color: #f0f0f0;
}

.logout{
  background-color: yellowgreen;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
}
.logout:hover {
  background-color: red;
}


/* Medium-sized devices (max-width: 1024px) */
@media (max-width: 1100px) {
  .mainContent {
    flex-direction: column;
  }
  .sidebar {
    flex-direction: row;
    width: 100%;
    background-color: #333;
    padding: 5px 10px;
    color: white;
  }
  .sidebar li {
    box-sizing: border-box;
    padding: 10px 30px;
    cursor: pointer;
  }
  .sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .sidebar li.active {
    background-color: #555;
  }
}

/* Small-sized devices (max-width: 768px) */
@media (max-width: 768px) {

}

/* Very small-sized devices (max-width: 480px) */
@media (max-width: 480px) {

}