.cartContainer{
    padding: 20px 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartHeading {
    font-size: 25px;
    font-weight: 400;
    font-family: cursive;
}

.btnRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.btnConfirm{
    background-color: rgb(0, 196, 0);
    padding: 15px 25px;
    border-radius:5px;
    color: #fff;  
    border: none;
    font-size: 18px;
    font-weight: 500;
}

.btnCancel{
    background-color: red;
    padding: 15px 25px;
    border-radius:5px;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
}

.btnMore{
    background-color: lightskyblue;
    padding: 15px 25px;
    border-radius:5px;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
}

.btnConfirm:hover,
.btnCancel:hover,
.btnMore:hover {
   opacity: 0.85;
}

.cartList {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 5px;
    width: 100%;
    margin-bottom: 50px;
}

.cartList li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(240, 240, 240);
    z-index: 900;
    border-radius: 10px;
    padding: 0 20px;
    gap: 10px;
}

.cartList li p{
    font-size: 20px;
    font-weight: 500;
}

.btnRemove {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    z-index: 999;
    font-size: 20px;
    padding: 0;
    cursor: pointer;
    background: none;
}

.btnRemove:hover{
    background: none;
    padding: 0;
}

.cartEmptyMessage{
    font-size: 20px;
    font-weight: 400;
    color: rebeccapurple;
    margin: 0 auto;
}