.register-courses-container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px 40px 40px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.title {
  text-align: left;
  color: #333;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
}

.course-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.course-card {
  width: 100%;
  background-color: blueviolet;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  transition: transform 0.3s ease;
  color: #fff;
}

.course-card:hover {
  transform: translateZ(-5px);
}

.course-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.course-name {
  font-size: 1.2rem;
  color: #fff;
}

.toggle-button {
  background-color: transparent;
  border: none;
  color: azure;
  cursor: pointer;
  text-decoration: none;
  padding: 3px 0;
  font-size: 16px;
  font-weight: 300;
}

.toggle-button:hover {
  background-color: blueviolet;
  color: #fff;
  border-radius: 0;
}

.course-details {
  margin-top: 10px;
  color: #fff;
}

.course-details p, .course-details ul{
  padding-left: 20px;
  text-align: left;
}

.clo-list {
  list-style: none;
  padding-left: 10px;
}

.clo-list li {
  margin-bottom: 5px;
  color: #eee;
}

.register-button {
  background-color: yellowgreen;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
}

.register-button:hover {
  background-color: rgba(181, 240, 63, 0.911);
}

.registered-courses {
  margin-top: 20px;
  text-align: center;
  color: #333;
  font-size: 1.2rem;
}


/* Cart Styling */

.header-cart{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 20px;
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  background-color: blueviolet;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.cart-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #333;
  gap: 20px;
}

.cart-icon {
  height: 50px;
  aspect-ratio: 1;
}

.cart-count {
  font-family: cursive;
  font-size: 1rem;
  color: #fff;
}

.cart-list {
  margin-top: 20px;
  padding: 0;
  list-style:none
}

.cart-list li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  color: #555;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.confirm-button {
  background-color: #28a745;
  color: #fff;
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.confirm-button:hover {
  background-color: #218838;
}

/* Other styles remain the same */
